.wraper {
    margin: 0 auto;
    display: grid;
    grid-template-rows: 34px 1fr;
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
                'h h'
                'n c';

}

.header {
    margin: 2px;
    grid-area: h;
    background: #ffe989;

}

.header img {

    width: 30px;
    height: 30px;
    border-radius: 30px;

}

.nav {
    margin: 2px;
    grid-area: n;
    background: #b5fdfd;
}


.content {
    margin: 2px;
    grid-area: c;
    background: #b6faae;
}

.content img {
    width: 350px;
    height: 150px;
}