.app-wrapper {
    margin: 0 auto;
    width: 1000px;
    display: grid;
    grid-template-rows: 34px 1fr;
    grid-template-columns: 1fr 8fr;
    grid-template-areas:
                'h h'
                'n c';
}
.app-wrapper-content{
    margin: 2px;
    grid-area: c;
    background: #90b6a3;
}





